<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


  <context:component-scan base-package="com.spring.training"/>
  <context:property-placeholder location="classpath:application.properties"/>


  <bean id="bookingFacade" class="com.spring.training.facade.impl.BookingFacadeImpl">
    <constructor-arg ref="userService"/>
    <constructor-arg ref="eventService"/>
    <constructor-arg ref="ticketService"/>
  </bean>

</beans>